body {  background: white;}

.bg-dark {
    background-color: #183144!important;
}

.btn-addws {
    color: #fff;
    background-color: #7d93a3;
    border-color: white;
}

.btn-addws:active, .btn-addws:hover {
    color: #fff;
    background-color: #65737e;
    border-color: #65737e;
}

.btn-download {
    color: black;
    border-color: #8a7d7d;
}

.btn-download:active, .btn-download:hover {
    background-color: #eaeaea;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: 48px 0px 0;
}

main > .container {
    padding: 60px 15px 0;
}



.file-item.ng-enter {
    opacity: 0;
    transition: all .5s ease;
}
.file-item.ng-enter-active {
    opacity: 1;
}

/*.file-item.ng-leave {
transition:0.5s linear all;
opacity:1;
}
.file-item.ng-leave.ng-leave-active {
opacity:0;
}*/




#ngview {
    margin-top:10px;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

svg {
    display: block;
    margin: 0 auto;
}


/* USE CASE 1 */
#uc1 svg {
    margin-top: 70px;
    width: 700px;
    height: 500px;
    background-color: white;
} 

.noUi-value-horizontal {
    -webkit-transform: translate(-50%,10%);
    transform: translate(-50%,10%);
    font-size: 0.88em;
}

.noUi-handle:after, .noUi-handle:before {
    background: none!important;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 2px;
}

.noUi-horizontal {
    height: 14px;
}

.noUi-horizontal .noUi-handle {
    height: 24px;
    top: -5px;
}

.noUi-tooltip {
    border: none;
}
.noUi-active , .noUi-target{
    box-shadow: none;
}
.noUi-handle-lower, .noUi-handle-upper{
    box-shadow: none;
}
.noUi-connect {
    background-color: #343a40
}
.noUi-handle {
    outline: none;
}
.noUi-handle:focus {
    outline: none;
}
/**/

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */


#sidebar {
    min-width: 400px;
    max-width: 400px;
    background: #f5f5f5;
    /* color: #fff;*/
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}