<!-- Begin page content -->
<main role="main" class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="col-md-12" style="background-color: #f5f5f5">

            <div class="row">

                <div class="col-md-12 text-center">
                    <h4 style="margin-top: 15px">Histogram</h4>
                </div>



                <div class="col-md-12" style="margin-top:10px; {{files.length>0 && someAreValid?'background-color:#e6e6e6;':''}} ">

                    <div ng-if="files.length==0 && !someAreRead || !someAreValid"
                         class="col-md-12 text-center"
                         style="padding-top: 20px;padding-bottom: 20px; background-color: #ffe28d">
                        No valid file in your <a href="#!/data">workspace</a>. Please, upload a region file or add a file from the repository.
                    </div>

                    <div ng-if="files.length>0 && !someAreReady && someAreValid"
                         class="col-md-12 text-center"
                         style="padding-top: 20px;padding-bottom: 20px;">
                        Loading your workspace
                        <div class="col-md-12 text-center" style="padding-top: 10px;">
                            <img src="img/loading.gif" style="height: 45px; margin-left: 5px; margin-bottom: 4px;">
                        </div>
                    </div>

                    <div ng-show="files.length>0 && someAreReady"
                         style="height: 90px;">
                        <label for="jtSelect">File:</label>
                        <select class="form-control" id="ttSelect" 
                                ng-model="file_selector.name"
                                ng-change="load(file_selector.name, tumorTypes.current)" >
                            <option ng-repeat="file in files | filter:{ready:true} track by $index" ng-value="file.name">{{file.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:10px;">
                    <label for="ttSelect">Tumor type:</label>
                    <select class="form-control" id="ttSelect"
                            ng-model="tumorTypes.current"
                            ng-change="load(file_selector.name, tumorTypes.current)">
                        <option ng-repeat="type in tumorTypes.available track by $index" ng-value="type">{{type.name}}</option>
                    </select>
                </div>


                <div class="col-md-6" style="margin-top:10px;">
                    <div class="form-group">
                        <label for="inputBins">Bin size (bp):</label>
                        <input type="number" class="form-control" id="inputBins" 
                               ng-model="plot.binSize" ng-change="updatePlot(file_selector.file, tumorTypes.current)">

                        <br>
                    </div>
                </div>

                 <div class="col-md-6" style="margin-top:10px;">
                    <div class="form-group">
                        <label for="inputBins">Min Y:</label>
                        <input type="number" class="form-control" id="inputBins" 
                               ng-model="plot.minY" ng-change="updatePlot(file_selector.file, tumorTypes.current)">

                        <br>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:10px;">

                    <div class="row">

                        <div class="col-md-7">
                            <b>Mutation types</b>
                        </div>
                        <div class="col-md-5">
                            <label class="checkbox-inline float-right">
                                <input type="checkbox"  data-toggle="toggle" 
                                       ng-change="updatePlot(file_selector.file, tumorTypes.current)"
                                       ng-model="mutationTypes.stacked"> Stacked
                            </label>

                            <label class="checkbox-inline float-right">
                                <input type="checkbox"  data-toggle="toggle" 
                                       ng-change="updatePlot(file_selector.file, tumorTypes.current)"
                                       ng-model="plot.showTotal"> Total
                            </label>
                        </div>

                    </div>


                    <div class="row" ng-repeat="st in mutationTypes.selectedTypes track by $index" style="margin-top: 5px; margin-bottom: 10px;">

                        <div class="col-md-1 text-center" style="line-height: 32px;">
                            <span  ng-if="mutationTypes.selectedTypes.length>1 && $first!=true && !mutationTypes.stacked">or</span>
                        </div>

                        <div class="col-md-3 text-center">
                            <select class="form-control" id="mtSelect"
                                    ng-model="st.from"
                                    ng-change="changeMutationType()">
                                <option ng-repeat="f in mutationTypes.fromList track by $index"  ng-value="f">{{f}}</option>
                            </select>
                        </div>

                        <div class="col-md-1 text-center" style="line-height: 32px;">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <div class="col-md-3 text-center">
                            <select class="form-control" id="mtSelect"
                                    ng-model="st.to"
                                    ng-change="changeMutationType()">
                                <option ng-repeat="t in mutationTypes.toList track by $index" ng-if="t!=st.from" ng-value="t">{{t}}</option>
                            </select>
                        </div>
                        <div class="col-md-3 text-center" style="line-height: 32px;"
                             ng-if="mutationTypes.selectedTypes.length>1 && $first!=true">
                            <a class="form-control btn btn-default"  ng-click="removeCondition(st)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>

                    <hr>

                    <div ng-if="mutationTypes.invalidSelection" style="color: red">
                        Conditions must be mutually exclusive. The plot will not be updated.
                        <hr>
                    </div>

                    <div class="row" style="margin-top: 5px; margin-bottom: 10px;">

                        <div class="col-md-12 text-center" style="line-height: 32px;">
                            <input class="form-control btn btn-default"
                                   value="ADD" type="button" ng-click="addCondition()"/>
                        </div>

                    </div>

                </div>

                <div class="col-md-12" style="margin-top:10px;" ng-show="file_selector.name!=null">
                    <div class="row">

                        <div class="col-md-12">
                            <b>Statistical test</b>
                        </div>

                        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 20px;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>
                                            Coordinate
                                        </td>
                                        <td>
                                            Bin Coordinate
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="align-middle">From</td>
                                        <td  style="width: 150px">
                                            <input type="number" class="form-control {{test.area.from>test.area.to?'is-invalid':''}}" id="inputBins" 
                                                   ng-model="test.area.from" ng-change="drawArea(test.from, test.to)">
                                        </td>
                                        <td class="align-middle">
                                            {{test.area.fromPosition}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle">To</td>
                                        <td style="width: 40px">
                                            <input type="number" class="form-control {{test.area.from>test.area.to?'is-invalid':''}}" id="inputBins" 
                                                   ng-model="test.area.to" ng-change="drawArea(test.from, test.to)">
                                        </td>
                                        <td class="align-middle">
                                            {{test.area.toPosition}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle" rowspan="2"><b>P-value</b></td>
                                        <td class="align-middle text-center">
                                            <span ng-if="test.L<test.H">{{test.L}}</span>
                                            <span ng-if="test.L!=null && test.L>=test.H">{{test.H}}</span>
                                            <span ng-if="test.L==null || test.H==null">?</span>
                                        </td>
                                        <td class="align-middle text-center" rowspan="2">
                                            <div class="">
                                                <button class="btn btn-sm btn-info" ng-click="doTest(file_selector.file, tumorTypes.current)">compute</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle text-center" style="background-color: #e9e9e9;">
                                            <span ng-if="test.L<test.H">hypermutated</span>
                                            <span ng-if="test.L!=null && test.L>=test.H">hypomutated</span>
                                            <span ng-if="test.L==null || test.H==null">?</span>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 my-auto text-center" ng-if="loaded" style="margin-bottom: 20px!important;">

                    <button class="btn" 
                            ng-click="downloadPlot()"
                            type="submit"><i class="fa fa-download"></i> Download plot as SVG</button>
                    <a id="dwn" target="_blank" style="display: none"></a>

                </div>

            </div>
        </div>
    </nav>

    <div id="content">
        <div class="row">

            <div class="col-md-12 text-center my-auto" ng-if="!loaded">
                Select a file.
            </div>



            <div class="col-md-12" style="padding-left: 50px; padding-right: 50px;">
                <div id="slider"></div>
            </div>


            <div class="col-md-12" window-resize="load(file_selector.name, tumorTypes.current)">
                <div id="uc1" class="plot-container">
                    <svg></svg>
                </div>
            </div>



        </div>
    </div>
</main>