<!-- Begin page content -->
<main role="main" class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar-small">
        <div class="col-md-12" style="background-color: #f5f5f5">

            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 style="margin-top: 15px">Regions comparison</h4>
                    <a class="btn info-btn" data-toggle="modal" data-target="#infoModal"><i class="fa fa-info-circle"></i></a>
                </div>

                <div class="col-md-12" style="margin-top:10px; background-color: #fafafa;">

                    <div ng-show="files.length>1 && someAreValid"
                         style="height: 90px;">
                        <label for="jtSelect">File 1:</label>
                        <select ng-disabled="execution.running"
                                class="form-control" id="ttSelect" 
                                ng-model="file_selector.file1">
                            <option ng-repeat="file in files | filter:valid track by $index" ng-value="file">{{file.name}}</option>
                        </select>
                    </div>

                    <div ng-show="files.length>1 && someAreValid"
                         style="height: 90px;">
                        <label for="jtSelect">File 2:</label>
                        <select ng-disabled="execution.running"
                                class="form-control" id="ttSelect" 
                                ng-model="file_selector.file2">
                            <option ng-repeat="file in files | filter:{valid} track by $index" ng-value="file">{{file.name}}</option>
                        </select>
                    </div>

                    <div ng-show="files.length<2 || !someAreValid"
                         style="height: 90px;">
                        <label for="jtSelect">Files:</label>
                        <p class="text-center" style="background-color: #ffdddd; line-height: 30px; height: 30px;">
                            <i class="fa fa-exclamation-triangle" style="font-size: 0.9em;"></i>
                            Not enough files in your <a href="#!/data">workspace</a>.
                        </p>
                    </div>
                </div>

                <div class="col-md-12 text-center" style="margin-top:10px;">
                    <button class="btn btn-white"  style="width: 100%;"
                            ng-click="loadFiles(file_selector.file1, file_selector.file2)"
                            ng-disabled="execution.running || file_selector.file1==null ||  file_selector.file2==null"
                            type="submit">
                        <i class="fa fa-play" style="font-size: 0.9em;
                                                     margin-right: 6px;"></i> Plot</button>
                    <a id="dwn_data" target="_blank" style="display: none"></a>
                </div>


                <div class="col-md-12" style="margin-top:10px;">
                    <label for="ttSelect">Tumor type:</label>
                    <select class="form-control" id="ttSelect"
                            ng-model="tumorTypes.current" 
                            ng-change="loadFiles(file_selector.file1, file_selector.file2)" ng-disabled="execution.running">
                        <option ng-repeat="type in tumorTypes.available track by $index" ng-value="type">{{type.name}}</option>
                    </select>
                </div>

                <div class="col-md-12" style="margin-top:10px;" ng-if="loaded">

                    <label for="inputBins">Mutation types:</label>

                    <div class="row" ng-repeat="st in mutationTypes.selectedTypes" style="margin-top: 5px; margin-bottom: 10px;">

                        <div class="col-md-1 text-center" style="line-height: 32px;">
                            <span  ng-if="mutationTypes.selectedTypes.length>1 && $first!=true">or</span>
                        </div>

                        <div class="col-md-3 text-center">
                            <select class="form-control" id="mtSelect"
                                    ng-model="st.from"
                                    ng-change="changeMutationType()">
                                <option ng-repeat="f in mutationTypes.fromList" 
                                        ng-value="f">{{f}}</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-center" style="line-height: 32px;">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <div class="col-md-3 text-center">
                            <select class="form-control" id="mtSelect"
                                    ng-model="st.to"
                                    ng-change="changeMutationType()">
                                <option ng-repeat="t in mutationTypes.toList" 
                                        ng-if="t!=st.from || t=='*' && st.from=='*'" 
                                        ng-value="t">{{t}}</option>
                            </select>
                        </div>
                        <div class="col-md-3 text-center" style="line-height: 32px;"
                             ng-if="mutationTypes.selectedTypes.length>1 && $first!=true">
                            <a class="form-control btn btn-default"  ng-click="removeCondition(st)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>

                    <hr>

                    <div ng-if="mutationTypes.invalidSelection" style="color: red">
                        Conditions must be mutually exclusive. The plot will not be updated.
                        <hr>
                    </div>

                    <div class="row" style="margin-top: 5px; margin-bottom: 10px;">

                        <div class="col-md-12 text-center" style="line-height: 32px;">
                            <input class="form-control btn btn-default"
                                   value="ADD" type="button" ng-click="addCondition()"/>
                        </div>

                    </div>


                </div>

                <div class="col-md-12" style="margin-top:10px;" ng-if="loaded">
                    <div class="form-group">
                        <label for="inputBins">Bin size (bp):</label>
                        <input type="number" class="form-control" id="inputBins" 
                               ng-model="plot.binSize" ng-change="updatePlot(file_selector.file1, file_selector.file2, tumorTypes.current)">

                        <br>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:10px;" ng-if="loaded">
                    <div class="row">

                        <div class="col-md-12">
                            <b>Statistical test</b>
                        </div>

                        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 20px;">
                            <table class="table table-striped">
                                <thead>
                                <tbody>

                                    <tr>
                                        <td class="align-middle" rowspan="2"><b>P-value</b></td>
                                        <td class="align-middle text-center">
                                            {{test.pvalue==null?'?':test.pvalue}}
                                        </td>
                                        <td class="align-middle text-center" rowspan="1">
                                            <div class="">
                                                <button class="btn btn-sm btn-info" ng-click="doTest()">compute</button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 my-auto text-center" ng-if="loaded" style="margin-top:50px!important;margin-bottom: 20px!important;">

                    <button class="btn btn-white"  style="width:100%"
                            ng-click="downloadPlotData()"
                            type="submit"><i class="fa fa-download"></i> Download Result (JSON)</button>
                    <a id="dwn_data" target="_blank" style="display: none"></a>

                </div>

                <div class="col-md-12 my-auto text-center" ng-if="loaded" style="margin-bottom: 20px!important;">

                    <button class="btn btn-white" 
                            style="width:100%"
                            ng-click="downloadPlot()"
                            type="submit"><i class="fa fa-download"></i> Download Image (PNG)</button>
                    <a id="dwn" target="_blank" style="display: none"></a>

                </div>

            </div>
        </div>
    </nav>


    <div id="content" style="padding-top: 30px; padding-left: 15px; background-color: {{execution.running?'#5d5d5d':''}}">
        <div class="row">

            <div class="col-md-12 text-center" ng-if="execution.running" style="line-height: 40px; margin-top: 20px; color:white;">
                PROCESSING
                <br>
                <img src="img/running.gif" width="80px">
            </div>

            <div class="col-md-12 text-center" ng-if="!loaded && !execution.running " style="line-height: 40px;">
                Select two files.
            </div>


            <div class="col-md-12" style="padding-left: 50px; padding-right: 50px;" ng-show="loaded">
                <div id="slider"></div>
            </div>

            <div class="col-md-12" window-resize="loadFiles(file_selector.file1, file_selector.file2)">
                <div id="uc2" class="plot-container">
                    <svg></svg>
                </div>
            </div>

        </div>
    </div>
</main>

<div class="modal" tabindex="-1" role="dialog" id="infoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Description
            </div>
            <div class="modal-body">
                <p id="modal_description">
                    ...
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>