<!-- Begin page content -->
<main role="main" class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar-small">
        <div class="col-md-12" style="background-color: #f5f5f5">

            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 style="margin-top: 15px">Region comparison</h4>
                    <a class="btn info-btn" data-toggle="modal" data-target="#infoModal"><i class="fa fa-info-circle"></i></a>
                </div>

                <div class="col-md-12" style="margin-top:10px; background-color: #fafafa;">

                    <div ng-show="files.length>1 && someAreValid"
                         style="height: 90px;">
                        <label for="jtSelect">File 1:</label>
                        <select ng-disabled="execution.running"
                                class="form-control" id="ttSelect" 
                                ng-model="file_selector.file1">
                            <option ng-repeat="file in files | filter:valid track by $index" ng-value="file">{{file.name}}</option>
                        </select>
                    </div>

                    <div ng-show="files.length>1 && someAreValid"
                         style="height: 90px;">
                        <label for="jtSelect">File 2:</label>
                        <select ng-disabled="execution.running"
                                class="form-control" id="ttSelect" 
                                ng-model="file_selector.file2">
                            <option ng-repeat="file in files | filter:{valid} track by $index" ng-value="file">{{file.name}}</option>
                        </select>
                    </div>

                    <div ng-show="files.length<2 || !someAreValid"
                         style="height: 90px;">
                        <label for="jtSelect">Files:</label>
                        <p class="text-center" style="background-color: #ffdddd; line-height: 30px; height: 30px;">
                            <i class="fa fa-exclamation-triangle" style="font-size: 0.9em;"></i>
                            Not enough files in your <a href="#!/data">workspace</a>.
                        </p>
                    </div>
                </div>

                <div class="col-md-12 text-center" style="margin-top:10px;">
                    <button class="btn btn-white"  style="width: 100%;"
                            ng-click="loadFiles(file_selector.file1, file_selector.file2)"
                            ng-disabled="execution.running || file_selector.file1==null ||  file_selector.file2==null || file_selector.file1.parsed_lines > 100000 || file_selector.file2.parsed_lines > 100000"
                            type="submit">
                        <i class="fa fa-play" style="font-size: 0.9em;
                                                     margin-right: 6px;"></i> Plot</button>
                    <a id="dwn_data" target="_blank" style="display: none"></a>
                </div>

                <div class="col-md-12" style="margin-top:10px;" ng-if=" file_selector.file1!=null &&   file_selector.file2!=null && (file_selector.file1.parsed_lines >100000  || file_selector.file2.parsed_lines >100000)">
                    <p class="text-center" style="background-color: #fff38a; line-height: 30px; height: 90px;">
                        <i class="fa fa-exclamation-triangle" style="font-size: 0.9em;"></i><br>
                        This functionality does not support files containing more than 100K regions. 
                    </p>

                </div>


                <div class="col-md-12" style="margin-top:10px;">
                    <label for="ttSelect">Tumor type:</label>
                    <select class="form-control" id="ttSelect"
                            ng-model="tumorTypes.current" 
                            ng-change="loadFiles(file_selector.file1, file_selector.file2)" ng-disabled="execution.running">
                        <option ng-repeat="type in tumorTypes.available track by $index" ng-value="type">{{type.name}}</option>
                    </select>
                </div>
                
               <div class="col-md-8" style="margin-top:20px;" ng-if="loaded">
                    <p>Show observed/expected</p>
                </div>
                
                <div class="col-md-4 text-center" style="margin-top:20px;" ng-if="loaded">
                    <div class="form-group">
                        <switch size="small" id="enabled" name="enabled"
                                ng-model="plot.normalizeByMean" ng-change="updatePlot(file_selector.file1, file_selector.file2, tumorTypes.current)">
                        </switch>
                        <br>
                    </div>
                </div>
                

                <div class="col-md-12" style="margin-top:0px;" ng-if="loaded">

                    <label for="inputBins">Mutation types:</label>

                    <div class="row" ng-repeat="st in mutationTypes.selectedTypes" style="margin-top: 5px; margin-bottom: 10px;">

                        <div class="col-md-1 text-center" style="line-height: 32px;">
                            <span  ng-if="mutationTypes.selectedTypes.length>1 && $first!=true">or</span>
                        </div>

                        <div class="col-md-3 text-center">
                            <select class="form-control" id="mtSelect" style="width: auto;"
                                    ng-model="st.from"
                                    ng-change="changeMutationType()">
                                <option ng-repeat="f in mutationTypes.fromList" 
                                        ng-value="f">{{f}}</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-center" style="line-height: 32px;">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <div class="col-md-3 text-center">
                            <select class="form-control" id="mtSelect" style="width: auto;"
                                    ng-model="st.to"
                                    ng-change="changeMutationType()">
                                <option ng-repeat="t in mutationTypes.toList" 
                                        ng-if="t!=st.from || t=='*' && st.from=='*'" 
                                        ng-value="t">{{t}}</option>
                            </select>
                        </div>
                        <div class="col-md-3 text-center" style="line-height: 32px;"
                             ng-if="mutationTypes.selectedTypes.length>1 && $first!=true">
                            <a class="form-control btn btn-default"  ng-click="removeCondition(st)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>

                    <hr>

                    <div ng-if="mutationTypes.invalidSelection" style="color: red">
                        Conditions must be mutually exclusive. The plot will not be updated.
                        <hr>
                    </div>

                    <div class="row" style="margin-top: 5px; margin-bottom: 10px;">

                        <div class="col-md-12 text-center" style="line-height: 32px;">
                            <input class="form-control btn btn-default"
                                   value="ADD" type="button" ng-click="addCondition()"/>
                        </div>

                    </div>


                </div>

                <div class="col-md-12" style="margin-top:10px;" ng-if="loaded">
                    <div class="form-group">
                        <label for="inputBins">Bin size (bp):</label>
                        <input type="number" class="form-control" id="inputBins" 
                               ng-model="plot.binSize" ng-change="updatePlot(file_selector.file1, file_selector.file2, tumorTypes.current)">

                        <br>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:10px;" ng-if="loaded">
                    <div class="row">

                        <div class="col-md-12 text-center">
                            <b>Statistical test </b> <br><u>for the selected mutation types</u>
                        </div>

                        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 20px;">
                            <table class="table table-striped">
                                <thead>
                                <tbody>

                                    <tr>
                                        <td class="align-middle" rowspan="2"><b>P-value</b></td>
                                        <td class="align-middle text-center">
                                              {{test.pvalue==null?'?':getP(test.pvalue)}}
                                        </td>
                                        <td class="align-middle text-center" rowspan="1">
                                            <div class="">
                                                <button class="btn btn-sm btn-info" ng-click="doTest()">compute</button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 my-auto text-center" ng-if="loaded" style="margin-top:50px!important;margin-bottom: 20px!important;">

                    <button class="btn btn-white"  style="width:100%"
                            ng-click="downloadPlotData()"
                            type="submit"><i class="fa fa-download"></i> Download Result (JSON)</button>
                    <a id="dwn_data" target="_blank" style="display: none"></a>

                </div>

                <div class="col-md-12 my-auto text-center" ng-if="loaded" style="margin-bottom: 20px!important;">

                    <button class="btn btn-white" 
                            style="width:100%"
                            ng-click="downloadPlot()"
                            type="submit"><i class="fa fa-download"></i> Download Image (PNG)</button>
                    <a id="dwn" target="_blank" style="display: none"></a>

                </div>

            </div>
        </div>
    </nav>


    <div id="content" style="padding-top: 30px; padding-left: 15px; background-color: {{execution.running?'#5d5d5d':''}}">
        <div class="row">

            <div class="col-md-12 text-center" ng-if="execution.running" style="line-height: 40px; margin-top: 20px; color:white;">
                PROCESSING
                <br>
                <img src="img/running.gif" width="80px">
            </div>

            <div class="col-md-12 text-center" ng-if="!loaded && !execution.running " style="line-height: 40px;">
                Select two files.
            </div>


            <div class="col-md-12" style="padding-left: 50px; padding-right: 50px;" ng-show="loaded">
                <div id="slider"></div>
            </div>

            <div class="col-md-12" window-resize="loadFiles(file_selector.file1, file_selector.file2)">
                <div id="uc2" class="plot-container">
                    <svg></svg>
                </div>
            </div>

        </div>
    </div>
</main>

<div class="modal" tabindex="-1" role="dialog" id="infoModal">
    <div class="modal-dialog" role="document" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                Region comparison
            </div>
            <div class="modal-body">
                <div id="modal_description">
                    The visualization allows to compare the distribution of mutations around regions in <b>two different region-sets</b> through a heat-map. The <b>x-axis</b> represents the distance from the center of the provided regions, computed as <code>(start+stop)/2</code>, the <b>y-axis</b> discriminates the two selected region sets and the color-intensity represents the amount of mutations falling in a given bin. The most opaque bin for a region set represents the bin containing the highest number of mutations.
                    Use the toolbar on the left to select:
                    <ul>
                        <li><b>Two region sets</b>, among the ones added to the <a href="#!/data">workspace</a>.</li>
                        <li>A <b>tumor type</b>: only mutations for the selected tumor type will be displayed.</li>
                        <li><b>Mutation classes</b>: only mutations belonging to the selected classes will be displayed. </li>
                        <li><b>bin size</b>: number of base pairs per bin.</li>
                    </ul>

                    The horizontal slider helps restricting the domain.<br/>

                    The <b>statistical test</b> returns a p-value indicating how different the currently displayed distributions are.. <b style="color:red">Only the selected mutation classes will be considered for testing.</b><br>
                    For further details, please refer to our  <a target="_blank" href="https://ieeexplore.ieee.org/abstract/document/8983196/"> 2019 IEEE BIBM paper</a>.
                </div>


            </div>
        </div>
    </div>
</div>