<!-- Begin page content -->
<main role="main" class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="col-md-12" style="background-color: #f5f5f5">

            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 style="margin-top: 15px">Regions comparison</h4>
                </div>


                <div class="col-md-12 text-center"  ng-if="!someAreReady" style="margin-top:10px;">
                    <div ng-if="(files.length==0 || !someAreValid) && !someAreReady"
                         class="col-md-12 text-center"
                         style="padding-top: 20px;padding-bottom: 20px; background-color: #ffe28d">
                        No valid file in your <a href="#!/data">workspace</a>. Please, upload a region file or add a file from the repository.
                    </div>

                    <div ng-if="files.length>0 && !someAreReady && someAreValid"
                         class="col-md-12 text-center"
                         style="padding-top: 20px;padding-bottom: 20px;">
                        Loading your workspace
                        <div class="col-md-12 text-center" style="padding-top: 10px;">
                            <img src="img/loading.gif" style="height: 45px; margin-left: 5px; margin-bottom: 4px;">
                        </div>
                    </div>
                </div>

                <div class="col-md-12" ng-show="files.length>0 && someAreReady" style="margin-top:10px; background-color:#e6e6e6; height: 90px;">
                    <label for="jtSelect">File 1:</label>
                    <select class="form-control" id="ttSelect"
                            ng-model="file_selector.name1"
                            ng-change="load(file_selector.name1, file_selector.name2, tumorTypes.current)">
                        <option ng-repeat="file in files | filter:{ready:true} track by $index" ng-value="file.name">{{file.name}}</option>
                    </select>
                </div>

                <div class="col-md-12"  ng-show="files.length>0 && someAreReady" style="margin-top:0px; background-color:#e6e6e6; height: 90px;">
                    <label for="jtSelect">File 2:</label>
                    <select class="form-control" id="ttSelect"
                            ng-model="file_selector.name2"
                            ng-change="load(file_selector.name1, file_selector.name2, tumorTypes.current)">
                        <option ng-repeat="file in files | filter:{ready:true} track by $index" ng-value="file.name">{{file.name}}</option>
                    </select>
                </div>

                <div class="col-md-12" style="margin-top:10px;">
                    <label for="ttSelect">Tumor type:</label>
                    <select class="form-control" id="ttSelect"
                            ng-model="tumorTypes.current"
                            ng-change="load(file_selector.name1, file_selector.name2, tumorTypes.current)">
                        <option ng-repeat="type in tumorTypes.available" ng-value="type">{{type.name}}</option>
                    </select>
                    <hr>
                </div>

                <div class="col-md-12" style="margin-top:10px;">

                    <label for="inputBins">Mutation types:</label>

                    <div class="row" ng-repeat="st in mutationTypes.selectedTypes" style="margin-top: 5px; margin-bottom: 10px;">

                        <div class="col-md-1 text-center" style="line-height: 32px;">
                            <span  ng-if="mutationTypes.selectedTypes.length>1 && $first!=true">or</span>
                        </div>

                        <div class="col-md-3 text-center">
                            <select class="form-control" id="mtSelect"
                                    ng-model="st.from"
                                    ng-change="changeMutationType()">
                                <option ng-repeat="f in mutationTypes.fromList" 
                                        ng-value="f">{{f}}</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-center" style="line-height: 32px;">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <div class="col-md-3 text-center">
                            <select class="form-control" id="mtSelect"
                                    ng-model="st.to"
                                    ng-change="changeMutationType()">
                                <option ng-repeat="t in mutationTypes.toList" 
                                        ng-if="t!=st.from || t=='*' && st.from=='*'" 
                                        ng-value="t">{{t}}</option>
                            </select>
                        </div>
                        <div class="col-md-3 text-center" style="line-height: 32px;"
                             ng-if="mutationTypes.selectedTypes.length>1 && $first!=true">
                            <a class="form-control btn btn-default"  ng-click="removeCondition(st)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>

                    <hr>

                    <div ng-if="mutationTypes.invalidSelection" style="color: red">
                        Conditions must be mutually exclusive. The plot will not be updated.
                        <hr>
                    </div>

                    <div class="row" style="margin-top: 5px; margin-bottom: 10px;">

                        <div class="col-md-12 text-center" style="line-height: 32px;">
                            <input class="form-control btn btn-default"
                                   value="ADD" type="button" ng-click="addCondition()"/>
                        </div>

                    </div>


                </div>

                <div class="col-md-12" style="margin-top:10px;">
                    <div class="form-group">
                        <label for="inputBins">Bin size (bp):</label>
                        <input type="number" class="form-control" id="inputBins" 
                               ng-model="plot.binSize" ng-change="updatePlot(file_selector.file1, file_selector.file2, tumorTypes.current)">

                        <br>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:10px;" ng-show="file_selector.name1!=null && file_selector.name2!=null">
                    <div class="row">

                        <div class="col-md-12">
                            <b>Statistical test</b>
                        </div>

                        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 20px;">
                            <table class="table table-striped">
                                <thead>
                                <tbody>

                                    <tr>
                                        <td class="align-middle" rowspan="2"><b>P-value</b></td>
                                        <td class="align-middle text-center">
                                            {{test.pvalue==null?'?':test.pvalue}}
                                        </td>
                                        <td class="align-middle text-center" rowspan="1">
                                            <div class="">
                                                <button class="btn btn-sm btn-info" ng-click="doTest()">compute</button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </nav>


    <div id="content">

        <div class="row">

            <div class="col-md-12 text-center my-auto" ng-if="!loaded">
                Select files.
            </div>

            <div class="col-md-12" style="padding-left: 50px; padding-right: 50px;">
                <div id="slider"></div>
            </div>

            <div class="col-md-12">
                <div id="uc1">
                    <svg></svg>
                </div>
            </div>
            
            <div class="col-md-12 my-auto text-center" ng-if="loaded">

                <button class="btn" 
                        ng-click="downloadPlot()"
                        type="submit"><i class="fa fa-download"></i> Download as SVG</button>
                <a id="dwn" target="_blank" style="display: none"></a>

            </div>


        </div>

    </div>
</main>