<!-- Begin page content -->
<main role="main" class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar-small">
        <div class="col-md-12" style="background-color: #f5f5f5">

            <div class="row">

                <div class="col-md-12 text-center">
                    <h4 style="margin-top: 15px">Signatures</h4>
                </div>



                <div class="col-md-12" style="margin-top:10px; {{files_fake.length>0 && someAreValid?'background-color:#e6e6e6;':''}} ">

                    <div ng-if="files_fake.length==0 && !someAreReady || !someAreValid"
                         class="col-md-12 text-center"
                         style="padding-top: 20px;padding-bottom: 20px; background-color: #ffe28d">
                        No valid file in your <a href="#!/data">workspace</a>. Please, upload a region file or add a file from the repository.
                    </div>

                    <div ng-if="files_fake.length>0 && !someAreReady && someAreValid"
                         class="col-md-12 text-center"
                         style="padding-top: 20px;padding-bottom: 20px;">
                        Loading your workspace
                        <div class="col-md-12 text-center" style="padding-top: 10px;">
                            <img src="img/loading.gif" style="height: 45px; margin-left: 5px; margin-bottom: 4px;">
                        </div>
                    </div>

                    <div ng-show="files_fake.length>0 && someAreReady"
                         style="height: 90px;">
                        <label for="jtSelect">File:</label>
                        <select class="form-control" id="ttSelect" 
                                ng-model="file_selector.name"
                                ng-change="load(file_selector.name, tumorTypes.current)" >
                            <option ng-repeat="file in files_fake | filter:{ready:true} track by $index" ng-value="file.name">{{file.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:10px;">
                    <label for="ttSelect">Tumor type:</label>
                    <select class="form-control" id="ttSelect"
                            ng-model="tumorTypes.current"
                            ng-change="load(file_selector.name, tumorTypes.current)">
                        <option ng-repeat="type in tumorTypes.available track by $index" ng-value="type">{{type.name}}</option>
                    </select>
                </div>

                <!--div class="col-md-12" style="margin-top:10px;">
                    <div class="form-group">
                        <label for="minY">Min Y:</label>
                        <input type="number" class="form-control" id="minY" 
                               ng-model="plot.minY" ng-change="updatePlot(file_selector.file, tumorTypes.current)">

                        <br>
                    </div>
                </div-->

                <div class="col-md-12" style="margin-top:30px;">

                    <!--div class="row">

                        <div class="col-md-7">
                            <b>Mutation types</b>
                        </div>
                        <div class="col-md-5">
                            <label class="checkbox-inline float-right">
                                <input type="checkbox"  data-toggle="toggle" 
                                       ng-change="updatePlot(file_selector.file, tumorTypes.current)"
                                       ng-model="mutationTypes.stacked"> Stacked
                            </label>

                            <label class="checkbox-inline float-right">
                                <input type="checkbox"  data-toggle="toggle" 
                                       ng-change="updatePlot(file_selector.file, tumorTypes.current)"
                                       ng-model="plot.showTotal"> Total
                            </label>
                        </div>

                    </div>


                    <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
                        <div class="col-md-6"  ng-repeat="st in selectedTypes track by $index" >
                            <div class="row" style="margin-top:5px">
                                <div class="col-md-6" style="line-height: 39px;">
                                    <span style="margin-left: 10px; padding: 6px; border: 1px solid black;">{{st.from}}>{{st.to}}</span>
                                </div>

                                <div class="col-md-6">
                                    <a class="form-control btn btn-default"  ng-click="removeCondition(st)">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <div class="row" ng-if="selectedTypes.length<defaultMutationTypes.length" style="margin-top: 25px;">
                        <div class="col-md-6">
                            <select class="form-control" id="ttSelect" ng-model="addingType">
                                <option ng-repeat="addType in defaultMutationTypes" ng-value="addType" ng-if="!selectedTypes.includes(addType)">{{addType.from}}>{{addType.to}}</option>
                            </select>
                    
                        </div>

                        <div class="col-md-6">
                            <a class="form-control btn btn-default"  ng-click="addCondition(addingType)">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div-->

                

                </div>



                <div class="col-md-12 my-auto text-center" ng-if="loaded" style="margin-top:50px!important;margin-bottom: 20px!important;">

                    <button class="btn" 
                            ng-click="downloadPlot()"
                            type="submit"><i class="fa fa-download"></i> Download plot as SVG</button>
                    <a id="dwn" target="_blank" style="display: none"></a>

                </div>

            </div>
        </div>
    </nav>

    <div id="content">
        <div class="row">

            <div class="col-md-12 text-center my-auto" ng-if="!loaded">
                Select a file.
            </div>

            <div class="col-md-12" window-resize="load(file_selector.name, tumorTypes.current)">
                <div id="uc6" class="plot-container">
                    <svg></svg>
                </div>
            </div>



        </div>
    </div>
</main>