<!-- Begin page content -->
<main role="main" class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar-small">
        <div class="col-md-12" style="background-color: #f5f5f5">

            <div class="row">

                <div class="col-md-12 text-center">
                    <h4 style="margin-top: 15px">Signatures</h4>
                    <a class="btn info-btn" data-toggle="modal" data-target="#infoModal"><i class="fa fa-info-circle"></i></a>
                </div>


                <div class="col-md-12" style="margin-top:10px; background-color: #fafafa;">

                    <div ng-show="repository.length>0"
                         style="height: 90px;">
                        <label for="jtSelect">File:</label>
                        <select ng-disabled="execution.running"
                                class="form-control" id="ttSelect" 
                                ng-model="file_selector.name">
                            <option ng-repeat="file in repository track by $index" ng-value="file.identifier">{{file.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12" style=" background-color: #fafafa;padding-bottom:10px;">
                    <label for="ttSelect">Tumor type:</label>
                    <select ng-disabled="execution.running"
                            class="form-control" id="ttSelect"
                            ng-model="tumorTypes.current">
                        <option ng-repeat="type in tumorTypes.available track by $index" ng-value="type">{{type.name}}</option>
                    </select>
                </div>

                <div class="col-md-12" style=" background-color: #fafafa;padding-bottom:10px;">
                    <label for="ttSelect">Threshold {{threshold.active?'':'[disabled]'}}:</label>
                        <div class="row">

                        <div class="col-md-8">
                            <input ng-disabled="!threshold.active" type="number" class="form-control" ng-model="threshold.minMutations" style="font-size: 0.8em;">
                        </div>

                        <div class="col-md-4">
                            <switch size="small" id="enabled" name="enabled"
                                    ng-model="threshold.active">
                                ></switch>
                        </div>

                    </div>
                    
                   
                   
                </div>


                <div class="col-md-12 text-center" style="margin-top:10px;">
                    <button class="btn btn-white"  style="width: 100%;"
                            ng-click="loadFile(file_selector.name)"
                            ng-disabled="execution.running || file_selector.name=='' || tumorTypes.current==null"
                            type="submit">
                        <i class="fa fa-play" style="font-size: 0.9em;
                                                     margin-right: 6px;"></i> Plot</button>
                    <a id="dwn_data" target="_blank" style="display: none"></a>
                </div>

                <div class="col-md-12 text-center" style="margin-top:30px;" ng-show="loaded">
                    <b style="color:blue">{{numPatients}}</b> patients found. 
                </div>


                <div class="col-md-12" style="margin-top:30px;" >
                    <div class="row">

                        <div class="col-md-8" ng-show="loaded && !barPlot">
                            Show outliers:
                        </div>

                        <div class="col-md-4" ng-show="loaded && !barPlot">
                            <switch size="small" id="enabled" name="enabled"
                                    ng-model="outliers.show" ng-change="loadFile(file_selector.name)">
                                ></switch>
                        </div>

                    </div>

                </div>


                <div class="col-md-12 my-auto text-center" ng-if="loaded" style="margin-top:10px!important;margin-bottom: 20px!important;">

                    <button class="btn btn-white"  style="width:100%"
                            ng-click="downloadPlotData()"
                            type="submit"><i class="fa fa-download"></i> Download Result (JSON)</button>
                    <a id="dwn_data" target="_blank" style="display: none"></a>

                </div>

                <div class="col-md-12 my-auto text-center" ng-if="loaded" style="margin-bottom: 20px!important;">

                    <button class="btn btn-white" 
                            style="width:100%"
                            ng-click="downloadPlot()"
                            type="submit"><i class="fa fa-download"></i> Download Image (SVG)</button>
                    <a id="dwn" target="_blank" style="display: none"></a>

                </div>

            </div>
        </div>
    </nav>

    <div id="content" style="padding-top: 0px; padding-left: 15px; background-color: {{execution.running?'#5d5d5d':''}}">
        <div class="row">

            <div class="col-md-12 text-center" ng-if="execution.running" style="line-height: 40px; margin-top: 20px; color:white;">
                PROCESSING
                <br>
                <img src="img/running.gif" width="80px">
            </div>

            <div class="col-md-12 text-center" ng-if="!loaded && !execution.running" style="line-height: 40px;">
                Select a file.
            </div>

            <div class="col-md-12 text-center my-auto" ng-if="loaded">
                <div class="row">
                    <div class="col-md-6 sub-menu-item {{barPlot?'active':''}}" ng-click="showBarPlot()">
                        Bar Plot
                    </div>
                    <div class="col-md-6 sub-menu-item {{barPlot?'':'active'}}" ng-click="showBoxPlot()" 
                         ng-if="numPatients>=MIN_PATIENTS">
                        Box Plot
                    </div>
                    <div class="col-md-6 sub-menu-item {{barPlot?'':'active'}}" style="cursor: pointer"
                         ng-if="numPatients<MIN_PATIENTS">
                        <strike>Box Plot</strike>
                    </div>
                </div>
            </div>

            <div class="col-md-12" window-resize="load(file_selector.name, tumorTypes.current)">
                <div id="uc6" class="plot-container">
                    <svg></svg>
                </div>
            </div>

        </div>
    </div>
</main>

<div class="modal" tabindex="-1" role="dialog" id="infoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Description
            </div>
            <div class="modal-body">
                <p id="modal_description">
                    For higher accuracy in signature refitting, only tumors with more than 100 mutations are considered, in case less than 5 tumors have more than 100 mutations, the mutations are merged and an estimation of the average signatures' weights is provided.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>